/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  color: var(--accent-color);
  font-family: Inter, sans-serif;
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--card-text-weight);
}

@supports (font-variation-settings: normal) {
  .page {
      font-family: var(--main-font-family), sans-serif;
  }
} 

.content {
  margin: 0 auto;
  margin-block-start: 100px;
  inline-size: var(--content-inline-size);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border: var(--border-thickness) solid var(--accent-color);
  padding-block-start: clamp(7.5rem, 1.502vw + 7.148rem, 8.5rem);
  padding-block-end: 24px;
  font-family: var(--accent-font-family), fantasy, sans-serif;
  background-color: var(--background-color);
}

.header__logo {
  font-weight: 400;
  font-size: clamp(3.063rem, 1.502vw + 2.71rem, 4.063rem);
  line-height: 1em;
}

.header__title {
  margin-block-start: 20px;
  font-weight: 400;
  font-size: clamp(0.875rem, 0.845vw + 0.677rem, 1.438rem);
  line-height: 1em;
  text-transform: uppercase;
}

.header__theme-menu {
  position: relative;
  margin-inline-start: 20px;
  margin-block-start: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1em;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.theme-menu__button {
  position: relative;
  border: none;
  opacity: 1;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0%;
  height: 2px;
  opacity: 0.6;
  background-color: currentColor;
  transition: width 0.3s ease;
  transform-origin: left;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  left: -19px;
  animation: mooving 0.5s ease-in-out infinite alternate;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  border: var(--border-thickness) solid var(--accent-color);
  background-color: var(--background-color);
}

.card__header {
  border-block-end: var(--border-thickness) solid var(--accent-color);
  padding-inline: 10px;
  padding-block: 5px;
  font-family: var(--main-font-family), sans-serif;
  font-size: 18px;
  line-height: 1.2em;
  font-variation-settings: 'wght' var(--card-title-weight);
}

.container {
  position: relative;
  inline-size: 100%;
  block-size: calc(var(--content-inline-size) - calc(var(--border-thickness) * 2 ));
}

.card__image {
  box-sizing: border-box;
  object-fit: cover;
  object-position: right 50%;
  inline-size: 100%;
  block-size: 100%;
}

.contrast {
  filter: contrast(110%);
}

.grayscale {
  filter: grayscale(80%);
}

.saturate {
  filter: saturate(5);
}

.brightness {
  filter: brightness(0.7);
}

.invert {
  filter: invert(80%);
}

.sepia {
  filter: sepia(90%);
}

.opacity {
  filter: opacity(80%);
}

.huerotate-contrast {
  filter: hue-rotate(90deg) contrast(40%);
}

.card__description {
  display: flex;
  flex-direction: column;
  gap: 27px;
  border-block-start: var(--border-thickness) solid var(--accent-color);
  padding-inline: 25px;
  padding-block-start: 26px;;
}

.card__text {
  font-family: var(--main-font-family), sans-serif;
  font-weight: var(--card-text-weight);
  font-size: 18px;
  line-height: 1.17em;
}

.card__label {
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 1;
  opacity: 50%;
  font-family: var(--accent-font-family), fantasy, sans-serif;
  font-size: 14px;
  text-shadow:
    -1px 0 var(--text-stroke), 
    0 1px var(--text-stroke), 
    1px 0 var(--text-stroke), 
    0 -1px var(--text-stroke);
  mix-blend-mode: hard-light;
}

@supports(-webkit-text-stroke: 1px var(--text-stroke)) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-stroke);
  }
}

.button-group {
  display: flex;
  gap: 3px;
  align-self: flex-end;
  margin: 24px;
  block-size: 38px;
}

.button {
  position: relative;
  box-sizing: border-box;
  border: var(--border-thickness) solid var(--accent-color);
  padding: 0;
  box-shadow: none;
  background-color: var(--background-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color);
}

.button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--accent-color);
  transition: width 0.5s ease-in-out;
  transform-origin: left;
}

.button:hover::after {
  width: 100%;
}

.card__icon-button {
  box-sizing: border-box;
  border: var(--border-thickness) solid transparent;
  padding: 0;
  background-color: transparent;
  transition: border 0.3s ease;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: var(--border-thickness) solid var(--accent-color);
}

.card__like-button {
  box-sizing: border-box;
  border: var(--border-thickness) solid var(--accent-color);
  background-color: transparent;
  inline-size: 130px;
}

.like-icon {
  block-size: 100%;
}

.core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.contour {
  fill: var(--contour-heart-color);
  transition: fill 0.1s linear;
}

.sparks {
  opacity: 0;
}

.card__icon-button:hover {
  & .core {
    fill: var(--contour-heart-color);
    transition: fill 0.3s linear;
  }

  & .main-body {
    fill: var(--contour-heart-color);
    transition: fill 0.3s 0.05s linear;
  }
}

.card__icon-button:active {
  & .core {
    fill: var(--heart-active-color);
    transition: fill 0.3s linear;
  }

  & .main-body {
    fill: var(--heart-active-color);
    transition: fill 0.3s 0.05s linear;
  }
}

.like-icon.is-liked {
  & .core {
    fill: var(--heart-active-color);
    transition: fill 0.3s linear;
  }

  & .main-body {
    fill: var(--heart-active-color);
    transition: fill 0.3s 0.05s linear;
  }

  & .contour {
    fill: var(--heart-active-color);
    transition: fill 0.3s 0.06s linear;
  }

  & .heart {
    transform-origin: center;
    animation: scaling 0.3s 0.1s ease-in alternate;
  }

  & .sparks {
    animation: appear 0.3s 0.3s ease-in alternate;
  }
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--button-text-color);
  font-family: var(--accent-font-family), fantasy, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 0.9em;
  mix-blend-mode: difference;
}

.save-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-inline: auto;
  margin-block-start: 50px;
  margin-block-end: 100px;
  border: var(--border-thickness) solid var(--accent-color);
  padding-inline: 20px;
  padding-block: 15px;
  background-color: var(--background-color);
}

.save-icon {
  z-index: 1;
  width: 21px;
  height: 21px;
  color: var(--button-text-color);
  mix-blend-mode: difference;
}

.dialog {
  border: var(--border-thickness) solid var(--accent-color);
  padding-inline: clamp(30px, 40.8169px + -0.7512vw, 38px);
  padding-block: 30px;
  text-transform: uppercase;
  background-color: var(--background-color);
  inline-size: var(--dialog-inline-size);
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog[open] {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr min-content;
  row-gap: 30px;
  column-gap: 20px;
}

.dialog .save-icon {
  align-self: center;
  width: 39px;
  height: 39px;
}

.dialog__text {
  color: var(--accent-color);
  font-family: var(--accent-font-family), fantasy, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
}

.dialog__button {
  grid-column: 1/3;
  text-transform: uppercase;
  inline-size: 100%;
  block-size: 38px;
}

@media (width <= 375px) {
  .content {
    --content-inline-size: 100vw;
  }

  .card__label {
    right: 11px;
  }

  .save-button {
    flex-direction: column;
  }

  .save-icon {
    width: 28px;
    height: 28px;
  }
}