/* В этом файле будут храниться все значения переменных в исходном состоянии, 
а так же их изменения в зависимости от ширины устройства */


:root {
  --main-font-family: Inter-Variable;
  --accent-font-family: PressStart2P;
  --card-title-weight: 700;
  --card-text-weight: 400;
  --background-color: white;
  --accent-color: black;
  --background-image:
    repeating-linear-gradient(90deg, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(#d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
    linear-gradient(#e7e7e7, #1a1a1a); /* TODO и начали менять цвет от 0.01%*/
  --content-inline-size: clamp(23.438rem, 30.141vw + 16.373rem, 43.5rem);
  --save-button-block-size: 55px;
  --text-stroke: white;
  --button-text-color: white;
  --contour-heart-color: black;
  --sparks-heart-color: red;
}