/* В этом файле будут храниться все значения переменных в исходном состоянии, 
а так же их изменения в зависимости от ширины устройства */


:root {
  --main-font-family: Inter-Variable;
  --accent-font-family: PressStart2P;
  --content-inline-size: clamp(375px, 260.5634px + 30.5164vw, 700px);
  --dialog-inline-size: clamp(349px, 346.1831px + 0.7512vw, 357px);
  --border-thickness: 2px;
  --heart-active-color: red;
  --card-title-weight: 700;
  --card-text-weight: 400;
  --background-color: white;
  --accent-color: black;
  --text-stroke: white;
  --button-text-color: white;
  --contour-heart-color: black;
  --background-image:
    repeating-linear-gradient(
      90deg, 
      #d3d3d3, 
      #d3d3d3 2px, 
      transparent 2px, 
      transparent 4px
    ),
    repeating-linear-gradient(
      #d3d3d3, 
      #d3d3d3 2px, 
      transparent 2px, 
      transparent 4px
    ),
    linear-gradient(
      #e7e7e7,
      #e7e7e7 0.01%,
      #1a1a1a
    );
}